build
develop.properties
dist
!src/eu/baltrad/beast/rules/dist
!test/eu/baltrad/beast/rules/dist
!itest/eu/baltrad/beast/rules/dist
*.swp
.ruby-version
.idea
beast.iml
lib/maven/libs/test
lib/maven/libs/runtime
lib/maven/target
lib/maven/libs/THIRD-PARTY-LICENSES.txt
